body {
    min-height: 100vh;
    margin: 0;
    padding: 0; 
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(90, 212, 250, 1) 100%);
    display: flex; 
    justify-content: center; 
    align-items: flex-start;
  }

  .formulario {
    background-color: white;
    width: 550px;
    height: auto;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    border-radius: 30px;
    border: 0.5px solid grey;
    margin: 20px 0;
}

.img-formulario {
    width: 100%;
    height: 200px;
    object-fit: cover; 
    border-radius: 30px;
    margin-bottom: 50px;
}
  
.conteudo {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; 
    margin-left: 30px;
    margin-bottom: 30px;
}
