.header {
  background: linear-gradient(to right, #21369f 25%, #0C1439 100%); 
  color: white;
  justify-content: space-between;
  padding: 50px; 
  display: flex;
  align-items: center;
  width: 100%;
}

.titulo {
  font-family: 'Kadwa',serif;
  font-size: 35px;
}

.botoes {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin-right: 30px;
  margin-bottom: 5px 
}


.input-search {
  position: absolute;
  top: 90px; 
  right:55px; 
  display: flex;
  align-items: center;
  gap: 10px; 
  width: 56vw; 
  margin-top: 10px;
  font-family: 'Inter',serif;
}

.input-search input[type="search"] {
  flex: 1; 
}

.botao-buscar {
  width: 10%;
  min-width: 120px;
  max-width: 200px;
  font-family: 'Inter',serif;
}

.card-title {
  display: flex;
  align-items: start;
  justify-content: start;
}

.saiba-mais {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.topo {
  background: linear-gradient(to right, #3EA6F0 25%, #0F3048 100%);
  color: white;
  font-size: 30;
  text-align: center;
  padding: 20px;
  min-height: 450px;
}

.img-texto {
  max-width: 100%;
  height: auto;
}

.content {
  font-family: 'Inter',serif;
}

.cards1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
} 

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 18rem;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-img-top {
  height: 235px;
}

.base{
  background: linear-gradient(to right, #21369f 25%, #0C1439 100%);
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 45px;
  width: 100%;
}



.footer {
  background: linear-gradient(to right, #3EA6F0, #0F3048);
  color: white;
  text-align: center;
  height: auto;
}

.contato{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: start;
  gap:px;
  font-family: 'Inter',serif;
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  font-family: 'Inter',serif;
}


.text-redes-sociais {
  margin-left: 0px;
}


.logo{
  display: flex;
  gap:5px;
}


@media (min-width: 1920px) {
  .header {
    padding: 30px; 
  }

  .titulo {
    font-size: 2.5rem; 
  }

  .input-search {
    width: 40vw; 
  }

  .input-search input[type="search"] {
    font-size: 1.2rem; 
  }

  .botao-buscar {
    font-size: 1.1rem;
    width: 140px; 
  }

  .cards1 .card {
    width: 22rem; 
  }

  .topo {
    font-size: 2rem; 
    min-height: 550px;
  }

  .card-img-top {
    height: 300px; 
  }

  .footer {
    font-size: 1.2rem; 
  }
}

@media (max-width: 415px) {
  .header {
    padding: 50px;
  }

  .titulo {
    font-size: 25px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  .botoes {
    margin-right: 0px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .input-search {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    }

  .form-control {
    font-size: 15px;
  }

  .footer {
    font-size: 12px;
  }

  .logo-footer {
    width: 40px;
    height: 40px;
  }

  .titulo-footer {
    font-size: 20px;
  }

  .text-redes-sociais {
    font-size: 20px;
    margin-left: 0px;
  }

  .base {
    display: flex;
    align-items: center;
    padding: 20px;
  }
}