$header-bg-color: #21369f;

.header {
    background-color: #21369f;
    color: white; 
    padding: 20px;  
}


.footer {
    background: linear-gradient(to right, #3EA6F0, #0F3048);
    color: white;
    text-align: center;
    padding: 10px;
  }